__pycache__
.vscode
.idea

all excels
all resumes
logs

old

secrets.py
config/personals.py
.venv
apikeys.py
# User-specific config files
config/questions.py
config/search.py
config/settings.py
config/external_secrets.py
